* Custom Styles */ body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Navbar */
.navbar {
  background-color: rgba(
    119,
    48,
    48,
    0.5
  ); /* Warna merah dengan transparansi */
}

.navbar .navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-nav .nav-link {
  color: rgb(108, 71, 71);
  margin-right: 15px;
}

.navbar-nav .nav-link:hover {
  color: #ffdddd; /* Warna link saat di hover */
}

.btn-primary {
  background-color: rgba(119, 48, 48, 0.8);
  border-color: rgba(119, 48, 48, 0.8);
}

.btn-primary:hover {
  background-color: rgba(119, 48, 48, 1);
  border-color: rgba(119, 48, 48, 1);
}
