body {
    background-color: #651b05; /* Warna latar belakang */
}

.card {
    border: none; /* Menghilangkan border pada kartu */
}

.card-title {
    color: #ff3e3e; /* Warna judul */
}

.btn-warning {
    background-color: #ff3e3e; /* Warna tombol */
    border: none; /* Menghilangkan border pada tombol */
}

.btn-warning:hover {
    background-color: #ff3e3e; /* Warna tombol saat hover */
}

.text-light {
    color: #ffffff; /* Warna teks untuk link */
}

.text-light:hover {
    text-decoration: underline; /* Menambahkan garis bawah pada hover */
}