body {
    background-color: #300f05; /* Warna latar belakang */
}

.card {
    border: none; /* Menghilangkan border pada kartu */
}

.card-title {
    color: #ffcc00; /* Warna judul */
}

.btn-warning {
    background-color: #ffcc00; /* Warna tombol */
    border: none; /* Menghilangkan border pada tombol */
}

.btn-warning:hover {
    background-color: #e6b800; /* Warna tombol saat hover */
}

.text-light {
    color: #ffffff; /* Warna teks untuk link */
}

.text-light:hover {
    text-decoration: underline; /* Menambahkan garis bawah pada hover */
}